.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adff2f;
    height: 75px; 
}

.header__title {
    color: #008000;
}

.header__logo {
    height: 2.5rem;
}