.navbar {
    margin: 32px 0;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown; 
    background-color: #c7f2a7;
}

.navbar__link{
    text-decoration: none;
    margin: 0 60px;
    font-weight: 800;
    color: currentColor;
}

.green {
    color: green;
}

.purple {
    color: purple;
}